* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    border: 1px solid var(--black);
    position: relative;
    top: 100px;
    overflow: hidden;
}

.pipe {
    width: 80px;
    bottom: 0;
    position: absolute;
    animation: animation-pipe 2s infinite linear;
}

.mario {
    width: 90px;
    bottom: 0;
    position: absolute;
}

.jump {
    animation: jump 500ms ease-out;
}

.soon {
    width: 450px;
    margin-left: 400px;
    margin-top: -25px;
}

@keyframes animation-pipe {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 119px;
    }

    50% {
        bottom: 119px;
    }

    60% {
        bottom: 119px;
    }

    100% {
        bottom: 0;
    }
}
